<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Puppy for Adoption!</title>
</head>
<body>
	<h1>New Puppy Information</h1>
	<p>Puppy Name: <%= @new_puppy.name %></p>
	<p>Puppy Breed: <%= @new_puppy.breed %></p>
	<p>Puppy Age: <%= @new_puppy.age %></p>
</body>
</html>